<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <h1>Board List</h1>

    <div class="searchBar">
        <form action="/board/list" method="get">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">

            <select id="searchType" class="form-select" style="width: 150px; display: inline-block;">
                <option value="t" th:selected="${pageResponseDTO.searchType == 't'}">제목</option>
                <option value="c" th:selected="${pageResponseDTO.searchType == 'c'}">내용</option>
                <option value="w" th:selected="${pageResponseDTO.searchType == 'w'}">작성자</option>
                <option value="tc" th:selected="${pageResponseDTO.searchType == 'tc'}">제목+내용</option>
                <option value="tw" th:selected="${pageResponseDTO.searchType == 'tw'}">제목+작성자</option>
                <option value="cw" th:selected="${pageResponseDTO.searchType == 'cw'}">내용+작성자</option>
                <option value="tcw" th:selected="${pageResponseDTO.searchType == 'tcw'}">제목+내용+작성자</option>
            </select>

            <input type="text" id="keyword" class="form-control" style="width: 300px; display: inline-block;"
                   th:value="${pageResponseDTO.keyword}" placeholder="검색어를 입력하세요">

            <button type="submit" class="btn btn-primary searchBtn">검색</button>
            <button type="button" class="btn btn-secondary clearBtn">Clear</button>
        </form>
    </div>

    <div class="board">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>bno</th>
                <th>title</th>
                <th>writer</th>
                <th>readCount</th>
                <th>regDate</th>
            </tr>
            </thead>
            <tbody th:with="link=${pageResponseDTO.link}">
            <tr th:each="board:${pageResponseDTO.dtoList}">
                <td>[[${board.bno}]]</td>
                <td style="flex:1;"><a th:href="|@{/board/read(bno=${board.bno})}&${link}|">[[${board.title}]]</a></td>
                <td>[[${board.writer}]]</td>
                <td>[[${board.readCount}]]</td>
                <td>[[${#temporals.format(board.regDate,"yyyy-MM-dd")}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--   pageResponseDTO   page=1, size=10, total=100, totalPage=10, start=1, end=10, prev=false, next=false,-->

    <div class="d-flex justify-content-end mb-3">
        <a th:href="@{/board/registerForm}">
            <button type="button" class="btn btn-info">게시글 등록</button>
        </a>
    </div>

    <ul class="pagination justify-content-center" style="margin:20px 0">

        <li class="page-item" th:if="${pageResponseDTO.start != 1}">
            <a class="page-link"
               th:href="@{/board/list(page=${pageResponseDTO.start - 1}, size=${pageResponseDTO.size}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}">PrevBlock</a>
        </li>

        <li class="page-item" th:if="${pageResponseDTO.page > 1}">
            <a class="page-link"
               th:href="@{/board/list(page=${pageResponseDTO.page - 1}, size=${pageResponseDTO.size}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}">Prev</a>
        </li>

        <th:block th:each="i:${pageResponseDTO.pageNationList}">
            <li th:class="${pageResponseDTO.page == i}? 'page-item active' : 'page-item'">
                <a class="page-link"
                   th:href="@{/board/list(page=${i}, size=${pageResponseDTO.size}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}">[[${i}]]</a>
            </li>
        </th:block>

        <li class="page-item" th:if="${pageResponseDTO.page < pageResponseDTO.totalPage}">
            <a class="page-link"
               th:href="@{/board/list(page=${pageResponseDTO.page + 1}, size=${pageResponseDTO.size}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}">Next</a>
        </li>

        <li class="page-item" th:if="${pageResponseDTO.end != pageResponseDTO.totalPage}">
            <a class="page-link"
               th:href="@{/board/list(page=${pageResponseDTO.end + 1}, size=${pageResponseDTO.size}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}">NextBlock</a>
        </li>
    </ul>

</div>


<script layout:fragment="scripts" th:inline="javascript">
    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        self.location.href = "/board/list";
    });

    document.querySelector(".searchBtn").addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    const formTag = document.querySelector("form");
    const page = [[${pageResponseDTO.page}]];
    const searchType = document.querySelector("#searchType").value;
    const keyword = document.querySelector("#keyword").value;

    formTag.innerHTML += `<input type="hidden" name="page" value="${page}" />`;
    formTag.innerHTML += `<input type="hidden" name="searchType" value="${searchType}" />`;
    formTag.innerHTML += `<input type="hidden" name="keyword" value="${keyword}" />`;

    formTag.submit();
});


    const result = /*[[${result}]]*/ false;
    if (result) {
        alert("게시글 저장 성공!");
    }
</script>

</html>