<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">

<div layout:fragment="content" class="container">
    <h1>게시글 등록</h1>

    <form action="/board/register" method="post" class="mt-4">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
        </div>

        <div class="mb-3">
            <label for="writer" class="form-label">작성자</label>
            <input type="text" class="form-control" id="writer" name="writer" placeholder="작성자를 입력하세요">
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" rows="5" placeholder="내용을 입력하세요"></textarea>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2">등록</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/board/list'">취소</button>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Images</span>
            <div class="float-end uploadHidden">
                <button class="btn btn-primary uploadFileBtn" type="button" >
                    Add Files
                </button>
            </div>
        </div>
    </form>

    <!-- 첨부 파일 섬네일을 보여주는 부분 -->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
            </div>
        </div>
    </div>

    <!-- 모달 -->
    <div class="modal" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">오류 메시지</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-message">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 첨부파일 Modal -->
    <div class="modal uploadModal" tabindex="-1" id="uploadModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Files</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control uploadTag" multiple />
                        <!-- 첨부파일 업롣드 프로그레스 바 -->
                        <div class="progress w-100 mt-2" style="height: 20px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn" >Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>
</div>

<script layout:fragment="scripts" th:inline="javascript">
    const errors = [[${errors}]];
    console.log("errors", errors);
    let errorMsg = ``;
    if (errors) {
        for (let error of errors) {
            errorMsg += `<div>${error.field}에 ${error.defaultMessage} 에러 발생!</div>`;
        }
        document.querySelector(".error-message").innerHTML = errorMsg;
        document.getElementById("errorModal").style.display = "block";

    }

    const closeModal = document.querySelector(".close");
    closeModal.addEventListener("click", function () {
        document.getElementById("errorModal").style.display = "none";
        document.getElementById("uploadModal").style.display = "none";
    });

    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click",function (e){
        e.preventDefault();
        e.stopPropagation();
        uploadModal.show();
    })

    document.querySelectorAll(".closeUploadBtn").forEach((element)=>{
        element.addEventListener("click",function (e){
            e.preventDefault();
            e.stopPropagation();
            uploadModal.hide();

            document.querySelector(".uploadTag").value = "";

            document.querySelector(".progress-bar").style.width = '0%';
            document.querySelector(".progress-bar").innerText = '0%';

            const progressbarContainer = document.querySelector(".uploadModal .modal-body > div:last-child");
            if(progressbarContainer) {
                progressbarContainer.remove();
            }
        })
    })

    document.querySelector(".uploadBtn").addEventListener("click", (e) => {
        e.preventDefault();
        e.stopPropagation();

        const formData = new FormData();
        const files = document.querySelector(".uploadModal input[name='files']").files;
        console.log(files);

        const maxFileSize = 1024 * 1024 * 10;

        for(let file of files) {
            if (file.size > maxFileSize) {
                alert(`${file.name}의 크기가 10mb를 초과합니다.`)
                document.querySelector(".uploadTag").value = "";
            } else {
                formData.append('files', file);
            }
        }

        // 파일 진행 상태를 표시할 프로그레스바 컨테이너 생성
        const progressbarContainer = document.createElement('div')
        document.querySelector('.uploadModal .modal-body').appendChild(progressbarContainer)

        for (let file of files) {
            // 파일별 진행바 생성
            const fileProgress = document.createElement('div');
            fileProgress.className = 'mb-2';
            fileProgress.innerHTML = `
                <div class="small mb-1">${file.name.length > 7 ? file.name.substring(0,7) + '...' : file.name}<span class="uploadPercent"></span></div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            `;
            progressbarContainer.appendChild(fileProgress);

            const progressBar = fileProgress.querySelector(".progress-bar");

            const singleFormData = new FormData();
            singleFormData.append('files', file);

            axios({
                method: 'post',
                url: '/upload',
                data: singleFormData,
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                onUploadProgress: function (progressEvent) {
                    console.log(progressEvent)
                    const percentCompleted = Math.round((progressEvent.loaded / progressEvent.total)*100);
                    progressBar.style.width = percentCompleted + '%';
                    progressBar.innerText = percentCompleted + '%';
                    progressBar.closest('.mb-2').querySelector('.uploadPercent').innerText = `(${progressEvent.loaded}/${progressEvent.total})`
                }
            })
            .then((result)=>{
                console.log(result);
                progressBar.style.width = '100%';
                progressBar.innerText = '100%';
                for(let uploadResult of result.data) {
                    showUploadFile(uploadResult)
                }
                document.querySelector(".uploadModal input[name='files']").value = '';
                progressbarContainer.innerHTML='';
                uploadModal.hide();
            })
            .catch(error=>{
                console.log(error);
                progressBar.style.width = '0%';
                progressBar.innerText = '업로드 실패';
            });
        }
    })

    const uploadResult = document.querySelector('.uploadResult')
    function showUploadFile({uuid, originalFileName, link, img}) {
        let output = `<div class='card col-4'>`;
        output += `<div class='card-header d-flex justify-content-center'>`;
        output += `<span class='text-center'>${originalFileName}</span>`;
        output += `<button class='btn btn-outline-danger btn-sm deleteBtn' data-uuid='${uuid}' onclick='removeFile("${uuid}", "${originalFileName}", this);'>`;
        output += `X`;
        output += `</button>`;
        output += `</div>`;
        output += `<div class='card-body'>`;
        output += `<img src='/view/${link}' data-src="${uuid + "_" + originalFileName}">`;
        output += `</div>`;
        output += `</div>`;

        uploadResult.innerHTML += output;
    }

    function removeFile(uuid, originalFileName, obj) {
        const target  = obj.closest('.card');
        removeFileToServer(uuid, originalFileName).then(result => {
            console.log(result);
            if (result.data.isRemove) {
                uploadResult.removeChild(target);
            }
        })
    }

    document.querySelector('form').addEventListener("submit", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = document.querySelector(".uploadHidden");
        const uploadFiles = uploadResult.querySelectorAll("img, a");

        let hiddenStr = '';
        for (let file of uploadFiles) {
            const fileName = file.getAttribute("data-src");
            hiddenStr += `<input type='hidden' name='fileNames' value='${fileName}'>`
        }
        target.innerHTML = hiddenStr;

        this.submit();
    })
</script>

</html>