<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">

<div layout:fragment="content" class="container">
    <h1>멤버 등록</h1>

    <form action="/member/registerMember" method="post">
        <label for="id">아이디:</label>
        <input type="text" id="id" name="id" required />
        <br/>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
        <br/>

        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required />
        <br/>

        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required />
        <br/>

        <button type="submit">가입하기</button>
    </form>

</div>

</html>